.search-input {
  padding: 1.125rem 1.875rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
  background-color: var(--color-elements);
  box-shadow: var(--shadow);
  color: var(--color-input);
}

.search-input__input {
  background-color: transparent;
  width: 100%;
  color: var(--color-text);
  font-weight: var(--font-weight-regular);
}

.search-input__input::placeholder {
  color: var(--color-input);
}
