select {
  opacity: 0.5 !important;
  padding: 1.125rem;
  width: 100%;
  max-width: 12.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-elements);
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select > option {
  opacity: 0.5 !important;
  margin: 0;
}
