.select {
  padding: 1.125rem 1.5rem;
  width: 100%;
  max-width: 12.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-elements);
  color: var(--text-color);
  box-shadow: var(--shadow);
  font-weight: var(--font-weight-regular);
  cursor: pointer;
}

.select > option {
  font-weight: var(--font-weight-regular);
}
