.detail__container {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.btn {
  width: 8.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  background-color: var(--color-elements);
  color: var(--text);
  box-shadow: var(--shadow);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  box-shadow: var(--shadow-hover);
}

.detail__card {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 2;
  flex-wrap: wrap;
  gap: 2rem;
}
.detail__card__content {
  max-width: 36rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.detail__card__content__info {
  gap: 2rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail__card__content__border {
  margin-top: 3rem;
  display: flex;
}
.detail__card__content__border__container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.chip {
  background-color: var(--color-elements);
  color: var(--text);
  box-shadow: var(--shadow-hover);
  min-width: 6rem;
  font-size: 12px;
  line-height: 1;
}
