.card {
  min-height: 21rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--color-elements);
  box-shadow: var(--shadow);
}

.card > img {
  object-fit: cover;
}

.card > div {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.card > div > h2 {
  font-size: 17px;
}
