.navbar {
  padding: 0.5rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
.navbar__logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
